In [62]:
import pandas as pd

In [63]:
lego = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/refs/heads/master/datasets/lego_sets.csv')
parent_themes = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/refs/heads/master/datasets/parent_themes.csv')

In [64]:
lego.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [65]:
lego.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11986 non-null  int64
 3   num_parts     6926 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11986 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 562.0+ KB

In [66]:
parent_themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [67]:
parent_themes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           111 non-null    int64
 1   name         111 non-null    object
 2   is_licensed  111 non-null    bool
dtypes: bool(1), int64(1), object(1)
memory usage: 2.0+ KB

In [68]:
lego.shape

(11986, 6)

In [69]:
lego['set_num'].nunique()

11833

In [70]:
lego_cleaned = lego.dropna(subset=['set_num', 'name', 'theme_name'])

In [71]:
lego_cleaned.shape

(11833, 6)

### Qn1. What percentage of all licensed sets ever released were Star Wars themed ? Save your answer as a variable the_force, as an integer.

In [72]:
# subseting for licensed sets

licensed_themes = parent_themes[parent_themes['is_licensed']]['name']
licensed_themes

7                             Star Wars
12                         Harry Potter
16             Pirates of the Caribbean
17                        Indiana Jones
18                                 Cars
19                               Ben 10
20                     Prince of Persia
21                SpongeBob SquarePants
23                            Toy Story
33                               Avatar
43                Disney's Mickey Mouse
77                         Super Heroes
88     The Hobbit and Lord of the Rings
89         Teenage Mutant Ninja Turtles
91                      The Lone Ranger
93                            Minecraft
95                      Disney Princess
103                      Jurassic World
104                          Scooby-Doo
107                         Angry Birds
108                        Ghostbusters
109                              Disney
Name: name, dtype: object

In [73]:
# Now we subset for licensed theme 

lego_cleaned = lego_cleaned[lego_cleaned['parent_theme'].isin(licensed_themes)]
total_num = len(lego_cleaned)
num_star_themed =len(lego_cleaned[lego_cleaned['parent_theme'] == 'Star Wars'])
ratio = num_star_themed /total_num  
the_force = int(ratio*100)
print(f'The percentage of licensed sets that are Star Wars themed is {the_force}%.')

The percentage of licensed sets that are Star Wars themed is 51%.

In [75]:
total_num

1179

### In which year was the highest number of Star Wars sets released? Save your answer as a variable new_era, as an integer (e.g. 2012)

In [76]:
# Create a pivot table of sets released by theme per year
licensed_pivot = lego_cleaned.pivot_table(index='year', columns='parent_theme', values='set_num', aggfunc='count')
licensed_pivot.head()

parent_theme,Angry Birds,Avatar,Ben 10,Cars,Disney,Disney Princess,Disney's Mickey Mouse,Ghostbusters,Harry Potter,Indiana Jones,...,Pirates of the Caribbean,Prince of Persia,Scooby-Doo,SpongeBob SquarePants,Star Wars,Super Heroes,Teenage Mutant Ninja Turtles,The Hobbit and Lord of the Rings,The Lone Ranger,Toy Story
year,,,,,,,,,,,,,,,,,,,,,
1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN
2000,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,26.0,NaN,NaN,NaN,NaN,NaN
2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN
2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,NaN,...,NaN,NaN,NaN,NaN,28.0,3.0,NaN,NaN,NaN,NaN
2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,32.0,5.0,NaN,NaN,NaN,NaN

In [77]:
# Find the year when the most Star Wars sets were released
licensed_pivot.sort_values(by="Star Wars", ascending=False)["Star Wars"]

year
2016    61.0
2015    58.0
2017    55.0
2014    45.0
2012    43.0
2009    39.0
2013    35.0
2003    32.0
2011    32.0
2010    30.0
2002    28.0
2005    28.0
2000    26.0
2008    23.0
2004    20.0
2007    16.0
2001    14.0
1999    13.0
2006    11.0
Name: Star Wars, dtype: float64

In [ ]:
new_era = 2016
print(f'The year when the most Star Wars sets were released was {new_era}.')

The year when the most Star Wars sets were released was 2015.