<div style="text-align: center; padding: 20px;">
    <img src="austin-distel-744oGeqpxPQ-unsplash.jpeg" alt="​​Subscription Renewal Insights for a SaaS Company" width="450"/>
</div>


<!-- Image source - https://unsplash.com/photos/person-using-macbook-pro-744oGeqpxPQ
-->

In [ ]:
# import zipfile

# # Just the filename if it's in the same directory
# zip_path = 'workspace.zip'
# extract_to = 'extracted_files'  # This folder will be created automatically if it doesn't exist

# with zipfile.ZipFile(zip_path, 'r') as zip_ref:
#     zip_ref.extractall(extract_to)

# print("Files extracted successfully!")

Files extracted successfully!

In [1]:
# Import required libraries
import pandas as pd

# Import data
client_details = pd.read_csv('client_details.csv')
subscription_records = pd.read_csv('subscription_records.csv', parse_dates = ['start_date','end_date'])
economic_indicators = pd.read_csv('economic_indicators.csv', parse_dates = ['start_date','end_date'])

In [2]:
client_details .head()

    client_id company_size    industry       location
0  4280387012        Large     Fintech       New York
1  2095513148        Small     Fintech     New Jersey
2  7225516707       Medium     Fintech   Pennsylvania
3  8093537819        Large      Crypto       New York
4  4387541014       Medium  E-commerce  Massachusetts

In [3]:
subscription_records.head()

    client_id subscription_type start_date   end_date  renewed
0  1131383004            Yearly 2020-11-11 2021-11-11    False
1  4309371709           Monthly 2021-05-24 2021-06-23     True
2  3183675157            Yearly 2021-12-25 2022-12-25     True
3  5371694837           Monthly 2020-03-14 2020-04-13     True
4  5157113076           Monthly 2019-11-07 2019-12-07    False

In [4]:
economic_indicators.head()

   Unnamed: 0 start_date   end_date  inflation_rate  gdp_growth_rate
0           0 2018-01-01 2018-03-31            5.77             3.51
1           1 2018-04-01 2018-06-30            1.17             2.15
2           2 2018-07-01 2018-09-30            1.56             1.82
3           3 2018-10-01 2018-12-31            2.78             2.43
4           4 2019-01-01 2019-03-31            6.91             3.44

1. How many total Fintech and Crypto clients does the company have? Store as an integer variable called total_fintech_crypto_clients.

In [5]:
client_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   client_id     100 non-null    int64
 1   company_size  100 non-null    object
 2   industry      100 non-null    object
 3   location      100 non-null    object
dtypes: int64(1), object(3)
memory usage: 3.3+ KB

In [6]:
client_details.head()

    client_id company_size    industry       location
0  4280387012        Large     Fintech       New York
1  2095513148        Small     Fintech     New Jersey
2  7225516707       Medium     Fintech   Pennsylvania
3  8093537819        Large      Crypto       New York
4  4387541014       Medium  E-commerce  Massachusetts

1. How many total Fintech and Crypto clients does the company have? Store as an integer variable called total_fintech_crypto_clients.

In [7]:
total_fintech_crypto_clients =len(client_details[(client_details['industry'] == 'Fintech') | (client_details['industry']=='Crypto')])
total_fintech_crypto_clients

47

In [8]:
# # Another method of doing it
# Alternate method 1
# def is_fintech_or_crypto(x):
#     if x in ['Fintech', 'Crypto']:
#         return 1
#     else:
#         return 0

# # Loop through the 'industry' column in client_details and increment the total_fintech_crypto_clients counter for every Fintech or Crpyto client
# total_fintech_crypto_clients = 0
# for industry in client_details['industry']:
#     total_fintech_crypto_clients += is_fintech_or_crypto(industry)
# print(total_fintech_crypto_clients)

In [9]:
# Alternate method 2
# total_fintech_crypto_clients = client_details['industry'].apply(is_fintech_or_crypto).sum()

In [10]:
# # Alternate approach 3 - Use a lambda function to calculate the total number of Fintech and Crypto clients
# # total_fintech_crypto_clients = client_details['industry'].apply(lambda x: x in ['Fintech','Crypto']).sum()


2. Which industry has the highest renewal rate? Store as a string variable called top_industry.

In [11]:
subscription_records.head()

    client_id subscription_type start_date   end_date  renewed
0  1131383004            Yearly 2020-11-11 2021-11-11    False
1  4309371709           Monthly 2021-05-24 2021-06-23     True
2  3183675157            Yearly 2021-12-25 2022-12-25     True
3  5371694837           Monthly 2020-03-14 2020-04-13     True
4  5157113076           Monthly 2019-11-07 2019-12-07    False

In [12]:
subscription_records.groupby('client_id')['renewed'].mean().sort_values(ascending=False).index[0]

5536015034

In [13]:
client_details[client_details['client_id'] == 5536015034 ]['industry'].index[0]
top_industry = 'Gaming'

In [14]:
# alternate method for qn.2.

# Merging client details with subscription records
subscriptions = pd.merge(subscription_records, client_details, on = 'client_id', how = 'left')

In [15]:
# Group by industry and calculate renewal rate
industry_renewal_rates = subscriptions.groupby('industry')['renewed'].mean()

In [16]:
# Find the industry with the highest renewal rate, save as variable 'top_industry'
top_industry = industry_renewal_rates.sort_values(ascending = False).index[0]

3. -For clients that renewed their subscriptions, what was the average inflation rate when their subscriptions were renewed? #####

In [17]:
# Merge subscription records with economic indicators to get the inflation rate at the subscription end date (i.e., renewal time)
subscriptions_with_inflation = pd.merge_asof(subscription_records.sort_values(by='end_date'), 
                                             economic_indicators, 
                                             left_on='end_date', 
                                             right_on='start_date', 
                                             direction='backward')

In [18]:
# Calculate the average inflation rate for renewed subscriptions
average_inflation_for_renewals = subscriptions_with_inflation[subscriptions_with_inflation['renewed'] == True].inflation_rate.mean()